# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-shell-check-oci-ta-min           @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-gitleaks-check                   @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-gitleaks-check-oci-ta            @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl @swillis0221
/task/sast-unicode-check-oci-ta-min         @konflux-ci/integration-service-maintainers @sfowl @swillis0221
